
.Card {
    max-width: 332px;
    padding: 12px;
    min-height: 300px;
    margin: 8px;
    margin-right: 40px;
    background: #222222;
    border-radius: 12px;
}
.cardImage {
    margin: 16px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: 49px;
    background: #F9C83A;
    border-radius: 50%;
}
.cardImage img{
    width: 36px;
}
.cardHeading {
    font-weight: 700;
    color: #F9C83A;
    font-size: 22px;
    line-height: 40px;
    margin: 8px;
    padding: 12px;
    padding-top: 0px;
}

.Card > ul {
    margin-top: 8px;
    padding-top: 0px;
}
.Card > ul > li {
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;    
}