.MainSec5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 100vh; */
}
.sec5Top img {
    max-width: 29vw;
}
.sec5bottom img {
    max-width: 35vw;
}
.Sec5Head {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 76px;
}
.sec5Top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sec5bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@media (max-width:1012px) {
    .Sec5Head {
        font-size: 5vw;
        line-height: normal;
    }
}