.ContactCard {
    text-align: center;
    min-width: 80vw;
    background: #222222;
    border-radius: 12px;
    padding: 22px;
    margin: 14px;
}
.ContactCardHead {
    padding: 0px;
    margin: 12px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    line-height: 76px;
    text-align: center;
}
.contactSubTitle {
    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 40px;
}
.cardForm {
    display: flex;
}
.formLeft {
    flex: 1.8;

}
.formRight {
    flex: 1;

}
.formLeft{
    margin: 8px;
    padding: 22px;
    display: flex;
    flex-direction: column;
}
.formLeft input {
    outline: none;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    margin: 8px;
    font-weight: 400;
    font-size: 21px;
    line-height: 46px;
}
.formLeft textarea {
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    padding: 11px;
    border-radius: 12px;
    margin: 8px;
    font-weight: 400;
    font-size: 21px;
}

.formSubmit {
    background: #F9C83A;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    border-radius: 36px;
}