.ContactPage {
    position: relative;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background: transparent;
}
.conHero {
    position: relative;
    min-height: 100vh;
    background-size: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.back {
    top: 0px;
    right: 0px;
    position: absolute;
    background: #FFD24D;
    width: 100vw;
    height: 560px;
    z-index: -3;
}
.contHead {
    color: #222222;
    font-size: 56px;
    line-height: 76px;
    text-align: center;
    font-weight: 700;
}


.ContactSec {
    display: flex;
    text-align: center;
    text-align: center;
    flex-direction: column;
    background: #FFD24D;
    margin-top: 24px;
    padding: 22px;
}

.cont1,
.cont2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 76px;
}

.cont1 a, .cont2 a{
    text-align: center;
    display: flex;
    font-weight: 700;
    font-size: 42px;
    line-height: 76px;
    color: #222222;
    text-decoration: none;
}
.contr {
    /* text-align: right; */
    justify-content: left;
}
.contl {
    justify-content: right;
    /* text-align: left; */
}
.cont1 a img {
    width: 52px;
    height: 52px;
    padding: 12px;
}
.cont2 a img{
    width: 52px;
    height: 52px;
    padding: 12px;
}
.contr, .contl {
    flex: 1;
}
@media (max-width: 1324px) {
    .cont1 a, .cont2 a {
        font-size: 22px;
    }
    .cont1 a img,
    .cont2 a img{
        width: 48px;
        height: 48px;
        padding: 12px;
    }
}
@media (max-width: 730px) {
    .cont1 a, .cont2 a {
        font-size: 18px;
    }
    .cont1 a img,
    .cont2 a img{
        width: 38px;
        height: 38px;
        padding: 12px;
    }
}
@media (max-width: 598px) {
    .cont1,
    .cont2 {
        padding: 0px;
        margin: 0px;
        font-size: 18px;
        line-height: 42px;
    }
    .cont1 a,
    .cont2 a{
        line-height: 42px;
    }
    .contl {
        padding: 0px;
        flex: .55;
    }
    .contr {
        line-height: 42px;
        padding: 0px;
        flex: 1;
    }
    .cont1 a img,
    .cont2 a img{
        width: 24px;
        height: 24px;
        padding: 8px;
    }
}
