.ContactPage {
    position: relative;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    background: transparent;
}
.conHero {
    position: relative;
    min-height: 100vh;
    background-size: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.back {
    top: 0px;
    right: 0px;
    position: absolute;
    background: #FFD24D;
    width: 100vw;
    height: 560px;
    z-index: -3;
}
.contHead {
    color: #222222;
    font-size: 56px;
    line-height: 76px;
    text-align: center;
    font-weight: 700;
}


.ContactSec {
    display: flex;
    text-align: center;
    text-align: center;
    flex-direction: column;
    background: #FFD24D;
    margin-top: 24px;
    padding: 22px;
}

.cont1,
.cont2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 76px;
}

.cont1 a, .cont2 a{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 76px;
    color: #222222;
    text-decoration: none;
}
.cont1 a img, .cont2 a img{
    width: 28px;
    padding: 12px;

}